<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <title>Cyber Security Explained</title>
</head>
<body>
    <header>
    <h1>Cyber Security Explained</h1>
    <h4>By Eddie Coldrick</h4>
    <br />
    <nav>
        <a href="/">Home</a> / <a href="/socialengineering">Social Engineering</a> / <a href="/maliciouscode">Malicious Software and Code</a> / <a href="/webthreats">Web Specific Threats</a> / <a href="other">Other Threats</a> / <a href="/preventingthreats">Preventing Threats</a>
    </nav>
    </header>
    <h2>About this website</h2>
    <p>This website was created for a project for my computer science lesson. It explains many threats in today's digital world and has guides to cyber security for the public.</p>
    <h2>Many Thanks</h2>
    <ul>
        <li>
            <a href="https://newcss.net">New.css</a>
        </li>
        <li>
            Mr Martin
        </li>
    </ul>
</body>
</html>