<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <title>Cyber Security Explained</title>
</head>
<body>
    <header>
    <h1>Cyber Security Explained</h1>
    <h4>By Eddie Coldrick</h4>
    <br />
    <nav>
        <a href="/">Home</a> / <a href="/socialengineering">Social Engineering</a> / <a href="/maliciouscode">Malicious Software and Code</a> / <a href="/webthreats">Web Specific Threats</a> / <a href="other">Other Threats</a> / <a href="/preventingthreats">Preventing Threats</a>
    </nav>
    </header>
    <h2>Malicious Software and Code</h2>
    <p>Malicious Software and Code is when someone writes code that gets on your computer and does malicious activities.</p>
    <img src="/images/software.jpg" alt="Virus">
    <p><i>Image by Santeri Viinamäki/Wikimedia Commons (CC BY-SA 4.0)</i></p>
    <h2>Examples of Malicious Software and Code</h2>
    <h3>Viruses</h3>
    <p>Software that is loaded on to your computer without your knowledge or proper authorisation. It performs mailicious activity such as saving files, key logging, self-replicating, etc.</p>
    <h3>Trojans</h3>
    <p>Based of the story from Greece of the Trojan Horse, where in the Trojan War, the Greek soldiers entered Troy in a structure shaped like a horse which the residents of Troy let in, which led to Greece winning the war. Software that looks real and legitimate, but really does malicious activity in the background.</p>
    <h3>Adware</h3>
    <p>Software that shows unwanted popus and adverts.</p>
    <h3>Spyware</h3>
    <p>Installed software that spys on the user of the computer (e.g. keylogging).</p>
</body>
</html>