<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <title>Cyber Security Explained</title>
</head>
<body>
    <header>
    <h1>Cyber Security Explained</h1>
    <h4>By Eddie Coldrick</h4>
    <br />
    <nav>
        <a href="/">Home</a> / <a href="/socialengineering">Social Engineering</a> / <a href="/maliciouscode">Malicious Software and Code</a> / <a href="/webthreats">Web Specific Threats</a> / <a href="other">Other Threats</a> / <a href="/preventingthreats">Preventing Threats</a>
    </nav>
    </header>
    <h2>Other Threats</h2>
    <p>Some other threats that you should be aware of.</p>
    <h2>Examples of Other Threats</h2>
    <h3>Weak Passwords</h3>
    <p>Weak passwords are a hacker's easy way into your computer or accounts. You can see the strength of your password at <a href="https://www.security.org/how-secure-is-my-password/">security.org</a>.</p>
    <h3>Misconfigured Access Rights</h3>
    <p>Computers have access rights which give different users different permissions on the computer system. Get it wrong and a guest could possibly install malicious software.</p>
    <h3>Removable Media</h3>
    <p>Like USB Sticks and Portable Hard Drives. They can transfer malicious software.</p>
    <h3>Unpatched Software</h3>
    <p>Software Developers and Companies release patches for any security issues. If you hasn't installed the patch, your computer has a vunerability.</p>
</body>
</html>