<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <title>Cyber Security Explained</title>
</head>
<body>
    <header>
    <h1>Cyber Security Explained</h1>
    <h4>By Eddie Coldrick</h4>
    <br />
    <nav>
        <a href="/">Home</a> / <a href="/socialengineering">Social Engineering</a> / <a href="/maliciouscode">Malicious Software and Code</a> / <a href="/webthreats">Web Specific Threats</a> / <a href="other">Other Threats</a> / <a href="/preventingthreats">Preventing Threats</a>
    </nav>
    </header>
    <h2>Preventing Threats</h2>
    <p>Here are some tips to preventing the threats on this site. These could be a life-saver if someone tries to use them against you in the future. Use them!</p>
    <h2>Top Tips</h2>
    <h3>Biometrics</h3>
    <p>Alternative authorisation rather than username/password combination. It uses your physical body to verify you are who you say you are. Face ID, Touch ID, etc. are examples of this.</p>
</body>
</html>