<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <title>Cyber Security Explained</title>
</head>
<body>
    <header>
    <h1>Cyber Security Explained</h1>
    <h4>By Eddie Coldrick</h4>
    <br />
    <nav>
        <a href="/">Home</a> / <a href="/socialengineering">Social Engineering</a> / <a href="/maliciouscode">Malicious Software and Code</a> / <a href="/webthreats">Web Specific Threats</a> / <a href="other">Other Threats</a> / <a href="/preventingthreats">Preventing Threats</a>
    </nav>
    </header>
    <h2>Social Engineering</h2>
    <p>Social Engineering is when someone (or something) tricks you into giving them your information. Many of these types of threats take advantage of your emotions or natural tendecies.</p>
    <img src="/images/social.jpg" alt="Social Engineering">
    <p><i>Image by Tumisu (Pixabay License)</i></p>
    <h2>Examples of Social Engineering</h2>
    <h3>Pretexting or Blagging</h3>
    <p>Where someone creates a scenario to engage the victim to make them more likely to give information. For example, they could pretend to be your bank saying your account has been frozen.</p>
    <h3>Shoulder Surfing</h3>
    <p>Where someone looks over your shoulder while you entering personal information or identfication (e.g. your password, PIN). It's as simple as that, but many people enter passwords in public places, possibly next to a window, where people could easily see.</p>
    <h3>Pharming</h3>
    <p>This is when someone creates a website that looks like another (e.g. your bank's) and takes in inputted information. This could be used to harvest emails, passwords or even your bank details and home addresses. When entering your information, check the site's domain and security (e.g. SSL Encryption/padlock at the address bar).</p>
    <h3>Phishing</h3>
    <p>This is when someone emails, texts or calls you pretending to be a legitimate company (e.g. your bank) and lure you into giving information. This could be used to take your emails, passwords or even your bank details and home addresses. When being called, emailed or texted, make sure to check who they say they are (e.g. look at the email address or caller ID). You could even offer to phone them back using the phone number on their website.</p>
</body>
</html>