<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <title>Cyber Security Explained</title>
</head>
<body>
    <header>
    <h1>Cyber Security Explained</h1>
    <h4>By Eddie Coldrick</h4>
    <br />
    <nav>
        <a href="/">Home</a> / <a href="/socialengineering">Social Engineering</a> / <a href="/maliciouscode">Malicious Software and Code</a> / <a href="/webthreats">Web Specific Threats</a> / <a href="other">Other Threats</a> / <a href="/preventingthreats">Preventing Threats</a>
    </nav>
    </header>
    <h2>Web Specific Threats</h2>
    <p>Being a webmaster is hard... And then there are all these threats you need to keep on top of to keep your website alive and safe.</p>
    <img src="/images/xss.jpg" alt="XSS Code">
    <p><i>Image by Christiaan Colen (CC BY-SA 2.0)</i></p>
    <h2>Examples of Web Specific Threats</h2>
    <h3>Cross Site Scripting (XSS)</h3>
    <p>When user input is rendered as unescaped HTML, meaning users can run potentially harmful code on your site, without your authorisation.</p>
    <h3>SQL/NOSQL Injections</h3>
    <p>When user input is stored in a database but they can inject code that can do harmful things to the database if not seperated or validated.</p> 
</body>
</html>